*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --title-font-family:'lalezar', sans-serif;
    --title-font-size:38px;
    --title-color:white;

    --subtitle-font: 300 28px'Lalezar', sans-serif;
    --subtitle-color:#AB0303;

    --text-font: 200 16px "League Spartan", sans-serif;
    --text-color1:white;
    --text-color2:black;
    --text-fontGrande:200 24px 'League Spartan';
}

header{
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    height: 77px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding:20px;
    border-radius: 10px;

    background: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(3px);      
    -webkit-backdrop-filter: blur(19px);
}


#logo-ct{
    width: 60px;
    height: 60px;
}

.material-symbols-outlined{
    color: white;
    font-size: 48px;
}

/*Main Content*/

#home-section{
    background-image: url(images/Outras/bg-3.jpg);
    background-size: cover;
    background-position: center center;
          
}
#home-content{
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 40px;



    padding: 0px 10px;
}

#left-home{
    width: 100%;
    text-align: center;
    margin-top: 130px;
}

#left-home h1{
    font-family: var(--title-font-family);
    font-size: var(--title-font-size);
    font-weight: 400;
    color: var(--title-color);
    white-space: wrap;
    line-height: 80%;
    letter-spacing:1px;
}

#left-home p{
    font:var(--text-font);
    color: var(--text-color1);
    margin-bottom: 30px;
    margin-top: 10px;
}

.btn{
    font-family: 'lalezar', sans-serif;
    font-size: 24px;
    font-weight: 300;
    color: white;

    height: 35px;
    padding: 0px 10px;

    border: none;
    border-radius: 10px;
    background-image: linear-gradient(#770000 0%, #AB0303 50%, #770000 100%);
}

#rigth-home img{
    width: 100%;
    max-width: 750px;
}

/*modalidades*/
#modalidades-section{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 30px 0px;
    align-items: center;padding: 0px 40px;
}


h2{
    font: var(--subtitle-font);
    color: var(--subtitle-color);
}

#modalidades-section p{
    font:var(--text-font);
    color: var(--text-color2);
    margin-bottom: 30px;
}

#cards-modalidades{
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 20px;
    justify-content: center;
    max-width: 800px;
    min-width: 321px;
}

.card{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 150px;
    height: 185px;
    background-color: rgb(209, 193, 187);
    border-radius: 15px;
}

.card img{height: 80%;
    width: 100%;
    object-fit: cover;
}

.card span{
    font-family: 'Lalezar', sans-serif;
    font-size: 20px;
    color: white;

    background-image: linear-gradient(#770000 0%, #AB0303 50%, #770000 100%);

    display: flex;
    justify-content: center;
    align-items: center;    
    height: 20%;
    
}

#left-desconto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: center;
    height: 400px;

    background-image: url(images/Outras/Projeto-Lutar-para-vencer_morro-do-Horácio_Anderson-Coelho_7203-800x533.jpg);
    background-size: cover;
    background-position: center center;
    background-color: rgba(0, 0, 0, 0.551); 
    background-blend-mode: overlay; 

}

#left-desconto p{
    font-family: 'League spartan', sans-serif;
    font-size: 20px;
    font-weight: 100;
    color: var(--text-color1);
}
#txt-promo{
    font-family: 'Bangers', sans-serif;
    font-weight: 400;
    font-size: 96px;
    width: 100%;
    background-image: linear-gradient(#ffff, #999);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#rigth-desconto{
    display: none;
}

#professores-section{
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 30px 0px;
}

#professores-section p{
    font:var(--text-font);
    color: var(--text-color2);
    margin-bottom: 30px;

}

#carrousel{
    display: flex;
    gap: 30px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
}

#carrousel::-webkit-scrollbar {
    display: none; /* Chrome/Safari */
}

#carrousel button{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.425);
    backdrop-filter:blur(2px);
    border: 2px solid white;
    border-radius: 100%;
    font-size: 28px;
    color: #770000;

}

#carrousel button:hover{
    background-color: red;
}

.prev{
    top: 50%;
    left: 10px;
}

.next{
    top: 50%;
    right: 10px;
}

.prof-card{
    display: flex;
    flex-direction: column;
    background-color: rgba(128, 128, 128, 0.416);
    width: 175px;
    height: 300px;
    border-radius: 10px;
}

.prof-card img{
    background-color: red;
    border-radius: 10px 10px 0px 0px; 
    height: 80%;
    width: auto;
    object-fit: cover;
}

.prof-card-description{
    background-image: linear-gradient(#770000 0%, #AB0303 50%, #770000 100%);
    border-radius: 0px 0px 10px 10px;
    height: 20%;
    padding: 5px;
}

#carrousel p{
    font: var(--text-font);
    color: white;
    margin: 0px;
    
}

.prof-card-description h3{
    font: 300 20px 'lalezar', sans-serif;
    color: white;
}

#motivacional-section{
    background-color: #121212;
}

#motivacional-content{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px 10px;
    background-color: #121212;
}

#img-motivacional{
    width: 100%;
    height: 250px;
    object-fit: cover;
    
    border: 2px solid transparent;
    border-radius: 10px;
    border-image: conic-gradient(
        #FD0909 0%,
        #010000 25%,
        #B11212 50%,
        #010000 75%,
        #FD0909 100%
    ) 1;
    border-image-slice: 1;
    z-index: 999;
}

#vetor-motivacional{
    position: absolute;
    z-index: 1;
    top: -100px;
}

#motivacional-content p{
    color: white;
    font: var(--text-font);
    line-height: 100%;
    z-index: 999;
}

#motivacional-content h2{
    text-align: center;
    margin: 30px 0px 30px 0px;
    padding: 0px 70px;
    line-height: 80%;
    font-size: 36px;
    z-index: 999;
}



#parceiros-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 30px 10px;
}

#parceiros{
    display: flex;
    flex-direction: column;
    gap: 2rem; 
    width: 100%;
}
.parceiro {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.parceiro h3{
    font-family: 'lalezar', sans-serif;
    font-size: 24px;
}

.parceiro p{
    font: 200 18px 'League Spartan';
}

.parceiro img {
    width: 60px;
    height: 60px;
}

.parceiro:nth-child(even) {
    flex-direction: row-reverse; /* Inverte lado da imagem e texto */
    text-align: right; /* Alinha o texto à direita */
}

#contato-section {
  padding: 30px 10px;
  background-color: #f5f5f5;
  color: #333;
}

#contato-section h2 {
  text-align: center;
  margin-bottom: 30px;
  color: var(--subtitle-color);
}

.contato-form {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  background: #fff;
  padding: 1rem;
  border-radius: 8px;
}

.contato-form label {
  font-weight: 100;
  font-family: 'lalezar', sans-serif;
  font-size: 20px;
  color: var(--subtitle-color);
}

.contato-form input,
.contato-form textarea {
  width: 100%;
  padding: 0.6rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}



.contato-info {
  margin-top: 30px;
  text-align: center;
  font-family: 'league spartan', sans-serif;
}

.redes-sociais {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 0.5rem;
}

.redes-sociais a {
  color: #b30000;
  text-decoration: none;
  font-family: 'league spartan', sans-serif;
}

.redes-sociais a:hover {
  text-decoration: underline;
}

#site-footer{
    background-color: #010000;
    width: 100%;
}

#footer-content {
    display: flex;
    gap: 10px;
  color: #fff;
  padding: 30px 10px;
  text-align: center;
  font: var(--text-font);
}


.footer-nav {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.footer-nav a {
  color: #ccc;
  text-decoration: none;
}

.footer-nav a:hover {
  color: #fff;
}

.footer-social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.footer-social a {
  color: #b30000;
  text-decoration: none;
}

.footer-social a:hover {
  text-decoration: underline;
}

.footer-copy {
  font-size: 0.85rem;
  color: #888;
}

nav{
    display: none;
}



/* Tablets padrão (modo retrato) */
@media (min-width: 768px) {
    .menu-toggle{
        display: none;
    }
    nav{
        display: flex;
        gap: 30px;
        align-items: center;
    }

    nav a{
        text-decoration: none;
        font: 200 20px 'League Spartan', sans-serif;
        color: var(--text-color1);
    }

    nav a:hover{
        color: #770000;
    }

    #home-content{
        padding: 0px 40px;
    }

    #left-home h1{
        font: 400 64px 'Lalezar', sans-serif;
    }

    #left-home p{
        font: 200 28px 'League Spartan', sans-serif;
    }

    #left-home button{
        width: 50%;
        height: 50px;
        font: 200 32px 'Lalezar', sans-serif;
    }

    h2{
        font: 400 40px 'Lalezar';
    }

    #modalidades-section p{
        font: var(--text-fontGrande);
    }

    #cards-modalidades{
        flex-wrap:wrap;
    }

    .card{
        flex: 1 1 calc(33.333% - 1rem);
    }

    #left-desconto p{
        font: var(--text-fontGrande);
    }

    #desconto-section button{
        width: 50%;
        height: 50px;
        font: 200 32px 'Lalezar', sans-serif;        
    }

    #motivacional-content{
        flex-direction: row;
        gap:30px;
        overflow:cover;
    }

    #img-motivacional{
        flex: 0.5;
    }

    #motivacional-description{
        flex: 0.5;
    }

    #motivacional-description h2{
        padding: 0px;
    }

    #vetor-motivacional{
        top: -40px;
        left: 60px;
    }

    

    #footer-content{
        justify-content: space-between;
    }
}

/* Tablets grandes e notebooks pequenos */
@media (min-width: 1024px) {
    .btn{
        background-color: blue;
    }

    header{
        max-width: 1200px;
        margin: auto;
    }

    #home-section{
        display: flex;
        height: 750px;
        align-items: end;
    }
    #home-content{
        max-width: 1200px;
        margin: auto;
        margin-top: 100px;
        margin-bottom: 0px;
        padding: 0px 20px;
        flex-direction: row;
        align-items: end;
        gap: 0px;
    }

    #rigth-home img{
        height: max-content;       
    }

    #rigth-home{
        display: flex;
        flex: 0.6;
        height: 750px;
        align-items: end;
    }

    #left-home{
        flex: 0.4;
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        height: 750px
    }
    #left-home h1{
        text-align: start;
        width: 100%;
        font-size: 48px;
    }

    #left-home p{
        font-size: 20px;
        text-align: start;
    }

    #modalidades-section p{
        font-size: 20px;
    }

    #desconto-section{
        background-color: #121212;
    }

    #desconto-content{
        display: flex;
        background-color: #121212;
        height: 400px;
        max-width: 1200px;
        margin: auto;
    }

    #left-desconto{
        flex: 0.4;
        background-image: none;
        background-color: #121212;
        align-items: start;
        padding-left: 30px;
        
    }

    #txt-promo{
        text-align: start;
    }

    #left-desconto p{
        text-align: start;
    }

    #rigth-desconto{
        display: flex;
        flex: 0.6;
        clip-path: polygon(25% 0, 100% 0, 100% 100%, 10% 100%);
    }

    #rigth-desconto img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    #professores-section{
        align-items: center;
        max-width: 1220px;
        margin: auto;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    #professores-section p{
        font-size: 20px;
    }

    .prof-card{
        width: 250px;
        height: 450px;
    }
    .prof-card img{
        flex: 0.9;
    }
    .prof-card-description{
        display: flex;
        flex-direction: column;
        flex: 0.1;
        align-items: center;
    }

    .prof-card-description h3{
        font-size: 28px;
        line-height: 20px;
    }

    .prof-card-description p{
        width: 100%;
    }

    #motivacional-section{
        
    }

    #motivacional-content{
        position: relative;
        padding: 30px;
        max-width: 1200px;
        margin: auto;
    }

    #motivacional-section img{
        height:560px;
        width: 465px;
    }

    #motivacional-section p{
        font-size: 20px;
    }

    #parceiros{
        max-width: 1200px;
    }

    .contato-form{
        max-width: 1200px;
        margin: auto;
    }

    #footer-content{
        max-width: 1200px;
        margin: auto;
    }
}

/* Desktops grandes */
@media (min-width: 1280px) {
  /* Melhorias visuais, áreas com mais respiro, fontes maiores */
}